### Group-by apply

In [48]:
import pandas as pd
import numpy as np

pd.set_option("display.max_rows", 500)

In [3]:
pd_JH_data=pd.read_csv('../data/processed/COVID_relational_confirmed.csv',sep=',',parse_dates=[0])
pd_JH_data=pd_JH_data.sort_values('date',ascending=True).reset_index(drop=True).copy()
pd_JH_data.head()

        date    state       country  confirmed
0 2020-01-22  Alberta        Canada        0.0
1 2020-01-22       no  Korea, South        1.0
2 2020-01-22       no        Kosovo        0.0
3 2020-01-22       no        Kuwait        0.0
4 2020-01-22       no    Kyrgyzstan        0.0

### Test Data

In [4]:
test_data=pd_JH_data[((pd_JH_data['country']=='US')|
                      (pd_JH_data['country']=='Germany'))&
                     (pd_JH_data['date']>'2020-03-20')]

In [5]:
test_data

            date state  country  confirmed
15737 2020-03-21    no  Germany    22213.0
15776 2020-03-21    no       US    25818.0
16002 2020-03-22    no  Germany    24873.0
16057 2020-03-22    no       US    33756.0
16268 2020-03-23    no  Germany    29056.0
...          ...   ...      ...        ...
41312 2020-06-25    no       US  2422299.0
41538 2020-06-26    no  Germany   194036.0
41578 2020-06-26    no       US  2467554.0
41805 2020-06-27    no  Germany   194458.0
41846 2020-06-27    no       US  2510151.0

[198 rows x 4 columns]

In [6]:
test_data.groupby(['country']).agg(np.max)

              date state  confirmed
country
Germany 2020-06-27    no   194458.0
US      2020-06-27    no  2510151.0

In [7]:
# %load ../src/features/build_features.py

import numpy as np
from sklearn import linear_model
import pandas as pd

from scipy import signal

reg = linear_model.LinearRegression(fit_intercept=True)

def get_doubling_time_via_regression(in_array):
    ''' Use a linear regression to approximate the doubling rate

        Parameters:
        ----------
        in_array : pandas.series

        Returns:
        ----------
        Doubling rate: double
    '''

    y = np.array(in_array)
    X = np.arange(-1,2).reshape(-1, 1)

    assert len(in_array)==3
    reg.fit(X,y)
    intercept=reg.intercept_
    slope=reg.coef_

    return intercept/slope

if __name__ == '__main__':
    test_data_reg=np.array([2,4,6])
    result=get_doubling_time_via_regression(test_data_reg)
    print('the test slope is: '+str(result))

the test slope is: [2.]

In [8]:
test_data.groupby(['state','country']).agg(np.max)

                    date  confirmed
state country
no    Germany 2020-06-27   194458.0
      US      2020-06-27  2510151.0

In [9]:
#test_data.groupby(['state', 'country']).apply(get_doubling_time_via_regression)

In [10]:
def rolling_reg(df_input,col='confirmed'):
    ''' input has to be a data frame'''
    ''' return is single series (mandatory for group by apply)'''
    days_back=3
    result=df_input[col].rolling(
                window=days_back,
                min_periods=days_back).apply(get_doubling_time_via_regression,raw=False)
    return result

In [11]:
test_data[['state','country','confirmed']].groupby(['state','country']).apply(rolling_reg,'confirmed')

state  country
no     Germany  15737          NaN
                16002          NaN
                16268     7.417994
                16535     7.142035
                16801     8.012983
                           ...
       US       40782    70.290297
                41047    67.043865
                41312    63.737541
                41578    56.884790
                41846    56.155079
Name: confirmed, Length: 198, dtype: float64

In [12]:
test_data

            date state  country  confirmed
15737 2020-03-21    no  Germany    22213.0
15776 2020-03-21    no       US    25818.0
16002 2020-03-22    no  Germany    24873.0
16057 2020-03-22    no       US    33756.0
16268 2020-03-23    no  Germany    29056.0
...          ...   ...      ...        ...
41312 2020-06-25    no       US  2422299.0
41538 2020-06-26    no  Germany   194036.0
41578 2020-06-26    no       US  2467554.0
41805 2020-06-27    no  Germany   194458.0
41846 2020-06-27    no       US  2510151.0

[198 rows x 4 columns]

In [13]:
pd_DR_result=pd_JH_data[['state','country','confirmed']].groupby(['state','country']).apply(rolling_reg,'confirmed').reset_index()

In [14]:
pd_DR_result

         state   country  level_2  confirmed
0      Alberta    Canada        0        NaN
1      Alberta    Canada      435        NaN
2      Alberta    Canada      700        NaN
3      Alberta    Canada      967        NaN
4      Alberta    Canada     1263        NaN
...        ...       ...      ...        ...
42023       no  Zimbabwe    40762  28.259259
42024       no  Zimbabwe    41029  58.037037
42025       no  Zimbabwe    41294  41.179487
42026       no  Zimbabwe    41560  35.311828
42027       no  Zimbabwe    42027  69.958333

[42028 rows x 4 columns]

In [15]:
pd_DR_result=pd_DR_result.rename(columns={'confirmed':'confirmed_DR',
                             'level_2':'index'})
pd_DR_result.head()

     state country  index  confirmed_DR
0  Alberta  Canada      0           NaN
1  Alberta  Canada    435           NaN
2  Alberta  Canada    700           NaN
3  Alberta  Canada    967           NaN
4  Alberta  Canada   1263           NaN

In [16]:
pd_JH_data=pd_JH_data.reset_index()
pd_JH_data.head()

   index       date    state       country  confirmed
0      0 2020-01-22  Alberta        Canada        0.0
1      1 2020-01-22       no  Korea, South        1.0
2      2 2020-01-22       no        Kosovo        0.0
3      3 2020-01-22       no        Kuwait        0.0
4      4 2020-01-22       no    Kyrgyzstan        0.0

### confirmed_DR == doubling_rate

In [45]:
pd_result_larg=pd.merge(pd_JH_data,pd_DR_result[['index','confirmed_DR']],on=['index'],how='left')


#pd_result_larg['confirmed_DR'] = pd_result_larg['confirmed_DR'].replace("NaN",int(0))

#pd_result_larg.fillna(0, inplace=True)

pd_result_larg.head()

   index       date    state       country  confirmed  confirmed_DR
0      0 2020-01-22  Alberta        Canada        0.0           NaN
1      1 2020-01-22       no  Korea, South        1.0           NaN
2      2 2020-01-22       no        Kosovo        0.0           NaN
3      3 2020-01-22       no        Kuwait        0.0           NaN
4      4 2020-01-22       no    Kyrgyzstan        0.0           NaN

## Filtering the data with groupby apply

In [18]:
from scipy import signal

def savgol_filter(df_input,column='confirmed',window=5):
    ''' Savgol Filter which can be used in groupby apply function 
        it ensures that the data structure is kept'''
    window=5, 
    degree=1
    df_result=df_input
    
    filter_in=df_input[column].fillna(0) # attention with the neutral element here
    
    result=signal.savgol_filter(np.array(filter_in),
                           5, # window size used for filtering
                           1)
    df_result[column+'_filtered']=result
    return df_result

In [19]:
pd_filtered_result=pd_JH_data[['state','country','confirmed']].groupby(['state','country']).apply(savgol_filter).reset_index()

In [47]:
pd_result_larg=pd.merge(pd_result_larg,pd_filtered_result[['index','confirmed_filtered']],on=['index'],how='left')
pd_result_larg.tail(100)

,index,date,state,country,confirmed,confirmed_DR,confirmed_filtered_x,confirmed_filtered_y
41928,41928,2020-06-27,Hebei,China,349.0,inf,349.2,349.2
41929,41929,2020-06-27,no,Zambia,1531.0,89.392157,1535.0,1535.0
41930,41930,2020-06-27,Alberta,Canada,7957.0,149.031447,7943.4,7943.4
41931,41931,2020-06-27,Anguilla,United Kingdom,3.0,inf,3.0,3.0
41932,41932,2020-06-27,Anhui,China,991.0,inf,991.0,991.0
...,...,...,...,...,...,...,...,...
42023,42023,2020-06-27,no,Barbados,97.0,inf,97.0,97.0
42024,42024,2020-06-27,no,Belarus,61095.0,170.350631,61121.2,61121.2
42025,42025,2020-06-27,no,Belgium,61209.0,605.023102,61207.2,61207.2
42026,42026,2020-06-27,no,Albania,2330.0,32.806763,2334.6,2334.6
42027,42027,2020-06-27,no,Zimbabwe,567.0,69.958333,569.8,569.8

## Filtered doubling rate

### doubling_rate_filtered = confirmed_filtered_DR

In [21]:

pd_filtered_doubling=pd_result_larg[['state','country','confirmed_filtered']].groupby(['state','country']).apply(rolling_reg,'confirmed_filtered').reset_index()

pd_filtered_doubling=pd_filtered_doubling.rename(columns={'confirmed_filtered':'confirmed_filtered_DR',
                             'level_2':'index'})

pd_filtered_doubling

         state   country  index  confirmed_filtered_DR
0      Alberta    Canada      0                    NaN
1      Alberta    Canada    435                    NaN
2      Alberta    Canada    700                    NaN
3      Alberta    Canada    967                    NaN
4      Alberta    Canada   1263                    NaN
...        ...       ...    ...                    ...
42023       no  Zimbabwe  40762              41.333333
42024       no  Zimbabwe  41029              36.208333
42025       no  Zimbabwe  41294              42.099738
42026       no  Zimbabwe  41560              48.619259
42027       no  Zimbabwe  42027              48.547826

[42028 rows x 4 columns]

In [22]:
pd_result_larg=pd.merge(pd_result_larg,pd_filtered_doubling[['index','confirmed_filtered_DR']],on=['index'],how='left')
pd_result_larg.tail()

,index,date,state,country,confirmed,confirmed_DR,confirmed_filtered,confirmed_filtered_DR
42023,42023,2020-06-27,no,Barbados,97.0,inf,97.0,-3.412884e+15
42024,42024,2020-06-27,no,Belarus,61095.0,170.350631,61121.2,1.524167e+02
42025,42025,2020-06-27,no,Belgium,61209.0,605.023102,61207.2,6.074215e+02
42026,42026,2020-06-27,no,Albania,2330.0,32.806763,2334.6,3.138003e+01
42027,42027,2020-06-27,no,Zimbabwe,567.0,69.958333,569.8,4.854783e+01

In [23]:
mask=pd_result_larg['confirmed']>100
pd_result_larg['confirmed_filtered_DR']=pd_result_larg['confirmed_filtered_DR'].where(mask, other=np.NaN)

In [24]:
pd_result_larg

,index,date,state,country,confirmed,confirmed_DR,confirmed_filtered,confirmed_filtered_DR
0,0,2020-01-22,Alberta,Canada,0.0,NaN,0.0,NaN
1,1,2020-01-22,no,"Korea, South",1.0,NaN,0.8,NaN
2,2,2020-01-22,no,Kosovo,0.0,NaN,0.0,NaN
3,3,2020-01-22,no,Kuwait,0.0,NaN,0.0,NaN
4,4,2020-01-22,no,Kyrgyzstan,0.0,NaN,0.0,NaN
...,...,...,...,...,...,...,...,...
42023,42023,2020-06-27,no,Barbados,97.0,inf,97.0,NaN
42024,42024,2020-06-27,no,Belarus,61095.0,170.350631,61121.2,152.416667
42025,42025,2020-06-27,no,Belgium,61209.0,605.023102,61207.2,607.421471
42026,42026,2020-06-27,no,Albania,2330.0,32.806763,2334.6,31.380028
42027,42027,2020-06-27,no,Zimbabwe,567.0,69.958333,569.8,48.547826

In [55]:
pd_result_larg.replace([np.inf, -np.inf], np.nan,inplace=True)

pd_result_larg[pd_result_larg['country']=='United Kingdom'].tail(400)

,index,date,state,country,confirmed,confirmed_DR,confirmed_filtered_x,confirmed_filtered_y
32364,32364,2020-05-22,Channel Islands,United Kingdom,558.0,NaN,558.0,558.0
32369,32369,2020-05-22,Falkland Islands (Malvinas),United Kingdom,13.0,NaN,13.0,13.0
32374,32374,2020-05-22,Gibraltar,United Kingdom,151.0,150.333333,151.4,151.4
32427,32427,2020-05-22,Turks and Caicos Islands,United Kingdom,12.0,NaN,12.0,12.0
32538,32538,2020-05-23,no,United Kingdom,257154.0,81.359483,256600.0,256600.0
32588,32588,2020-05-23,Isle of Man,United Kingdom,336.0,NaN,336.0,336.0
32597,32597,2020-05-23,Montserrat,United Kingdom,11.0,NaN,11.0,11.0
32621,32621,2020-05-23,Anguilla,United Kingdom,3.0,NaN,3.0,3.0
32626,32626,2020-05-23,Bermuda,United Kingdom,128.0,84.666667,129.4,129.4
32629,32629,2020-05-23,British Virgin Islands,United Kingdom,8.0,NaN,8.0,8.0
32630,32630,2020-05-23,Cayman Islands,United Kingdom,129.0,31.583333,128.4,128.4
32631,32631,2020-05-23,Channel Islands,United Kingdom,558.0,NaN,558.2,558.2
32635,32635,2020-05-23,Falkland Islands (Malvinas),United Kingdom,13.0,NaN,13.0,13.0
32641,32641,2020-05-23,Gibraltar,United Kingdom,152.0,302.666667,152.4,152.4
32694,32694,2020-05-23,Turks and Caicos Islands,United Kingdom,12.0,NaN,12.0,12.0
32805,32805,2020-05-24,no,United Kingdom,259559.0,95.812578,259463.8,259463.8
32854,32854,2020-05-24,Isle of Man,United Kingdom,336.0,NaN,336.0,336.0
32863,32863,2020-05-24,Montserrat,United Kingdom,11.0,NaN,11.0,11.0
32887,32887,2020-05-24,Anguilla,United Kingdom,3.0,NaN,3.0,3.0
32892,32892,2020-05-24,Bermuda,United Kingdom,133.0,51.866667,132.2,132.2
32895,32895,2020-05-24,British Virgin Islands,United Kingdom,8.0,NaN,8.0,8.0
32896,32896,2020-05-24,Cayman Islands,United Kingdom,129.0,NaN,131.6,131.6
32897,32897,2020-05-24,Channel Islands,United Kingdom,558.0,NaN,558.4,558.4
32907,32907,2020-05-24,Gibraltar,United Kingdom,154.0,101.555556,153.0,153.0
32916,32916,2020-05-24,Falkland Islands (Malvinas),United Kingdom,13.0,NaN,13.0,13.0
32960,32960,2020-05-24,Turks and Caicos Islands,United Kingdom,12.0,NaN,12.0,12.0
33071,33071,2020-05-25,no,United Kingdom,261184.0,128.684367,262072.8,262072.8
33120,33120,2020-05-25,Isle of Man,United Kingdom,336.0,NaN,336.0,336.0
33129,33129,2020-05-25,Montserrat,United Kingdom,11.0,NaN,11.0,11.0
33152,33152,2020-05-25,Anguilla,United Kingdom,3.0,NaN,3.0,3.0
33157,33157,2020-05-25,Bermuda,United Kingdom,133.0,52.533333,134.4,134.4
33160,33160,2020-05-25,British Virgin Islands,United Kingdom,8.0,NaN,8.0,8.0
33161,33161,2020-05-25,Cayman Islands,United Kingdom,134.0,52.266667,133.8,133.8
33162,33162,2020-05-25,Channel Islands,United Kingdom,559.0,1116.666667,558.8,558.8
33167,33167,2020-05-25,Falkland Islands (Malvinas),United Kingdom,13.0,NaN,13.0,13.0
33172,33172,2020-05-25,Gibraltar,United Kingdom,154.0,153.333333,154.2,154.2
33225,33225,2020-05-25,Turks and Caicos Islands,United Kingdom,12.0,NaN,12.0,12.0
33336,33336,2020-05-26,no,United Kingdom,265227.0,92.445307,264467.4,264467.4
33386,33386,2020-05-26,Isle of Man,United Kingdom,336.0,NaN,336.0,336.0
33395,33395,2020-05-26,Montserrat,United Kingdom,11.0,NaN,11.0,11.0
33418,33418,2020-05-26,Anguilla,United Kingdom,3.0,NaN,3.0,3.0
33423,33423,2020-05-26,Bermuda,United Kingdom,139.0,45.000000,136.8,136.8
33426,33426,2020-05-26,British Virgin Islands,United Kingdom,8.0,NaN,8.0,8.0
33427,33427,2020-05-26,Cayman Islands,United Kingdom,137.0,33.333333,136.0,136.0
33428,33428,2020-05-26,Channel Islands,United Kingdom,559.0,1117.333333,559.2,559.2
33438,33438,2020-05-26,Gibraltar,United Kingdom,154.0,NaN,155.4,155.4
33447,33447,2020-05-26,Falkland Islands (Malvinas),United Kingdom,13.0,NaN,13.0,13.0
33493,33493,2020-05-26,Turks and Caicos Islands,United Kingdom,12.0,NaN,12.0,12.0
33602,33602,2020-05-27,no,United Kingdom,267240.0,87.368010,266800.0,266800.0
33652,33652,2020-05-27,Isle of Man,United Kingdom,336.0,NaN,336.0,336.0
33661,33661,2020-05-27,Montserrat,United Kingdom,11.0,NaN,11.0,11.0
33684,33684,2020-05-27,Anguilla,United Kingdom,3.0,NaN,3.0,3.0
33689,33689,2020-05-27,Bermuda,United Kingdom,139.0,45.666667,138.2,138.2
33692,33692,2020-05-27,British Virgin Islands,United Kingdom,8.0,NaN,8.0,8.0
33693,33693,2020-05-27,Cayman Islands,United Kingdom,140.0,45.666667,138.4,138.4
33694,33694,2020-05-27,Channel Islands,United Kingdom,560.0,1118.666667,559.6,559.6
33704,33704,2020-05-27,Gibraltar,United Kingdom,157.0,103.333333,156.8,156.8
33713,33713,2020-05-27,Falkland Islands (Malvinas),United Kingdom,13.0,NaN,13.0,13.0
33758,33758,2020-05-27,Turks and Caicos Islands,United Kingdom,12.0,NaN,12.0,12.0
33869,33869,2020-05-28,no,United Kingdom,269127.0,137.024615,269128.4,269128.4
33919,33919,2020-05-28,Isle of Man,United Kingdom,336.0,NaN,336.0,336.0
33928,33928,2020-05-28,Montserrat,United Kingdom,11.0,NaN,11.0,11.0
33952,33952,2020-05-28,Anguilla,United Kingdom,3.0,NaN,3.0,3.0
33957,33957,2020-05-28,Bermuda,United Kingdom,140.0,278.666667,139.6,139.6
33960,33960,2020-05-28,British Virgin Islands,United Kingdom,8.0,NaN,8.0,8.0
33961,33961,2020-05-28,Cayman Islands,United Kingdom,140.0,92.666667,139.8,139.8
33962,33962,2020-05-28,Channel Islands,United Kingdom,560.0,1119.333333,559.8,559.8
33966,33966,2020-05-28,Falkland Islands (Malvinas),United Kingdom,13.0,NaN,13.0,13.0
33972,33972,2020-05-28,Gibraltar,United Kingdom,158.0,78.166667,159.8,159.8
34025,34025,2020-05-28,Turks and Caicos Islands,United Kingdom,12.0,NaN,12.0,12.0
34134,34134,2020-05-29,no,United Kingdom,271222.0,135.206596,271035.4,271035.4
34183,34183,2020-05-29,Isle of Man,United Kingdom,336.0,NaN,336.0,336.0
34192,34192,2020-05-29,Montserrat,United Kingdom,11.0,NaN,11.0,11.0
34215,34215,2020-05-29,Anguilla,United Kingdom,3.0,NaN,3.0,3.0
34220,34220,2020-05-29,Bermuda,United Kingdom,140.0,279.333333,139.8,139.8
34223,34223,2020-05-29,British Virgin Islands,United Kingdom,8.0,NaN,8.0,8.0
34224,34224,2020-05-29,Cayman Islands,United Kingdom,141.0,280.666667,140.6,140.6
34225,34225,2020-05-29,Channel Islands,United Kingdom,560.0,NaN,560.0,560.0
34230,34230,2020-05-29,Falkland Islands (Malvinas),United Kingdom,13.0,NaN,13.0,13.0
34235,34235,2020-05-29,Gibraltar,United Kingdom,161.0,79.333333,163.0,163.0
34289,34289,2020-05-29,Turks and Caicos Islands,United Kingdom,12.0,NaN,12.0,12.0
34400,34400,2020-05-30,no,United Kingdom,272826.0,146.557628,272853.8,272853.8
34450,34450,2020-05-30,Isle of Man,United Kingdom,336.0,NaN,336.0,336.0
34459,34459,2020-05-30,Montserrat,United Kingdom,11.0,NaN,11.0,11.0
34482,34482,2020-05-30,Anguilla,United Kingdom,3.0,NaN,3.0,3.0
34487,34487,2020-05-30,Bermuda,United Kingdom,140.0,NaN,140.2,140.2
34490,34490,2020-05-30,British Virgin Islands,United Kingdom,8.0,NaN,8.0,8.0
34491,34491,2020-05-30,Cayman Islands,United Kingdom,141.0,281.333333,142.6,142.6
34492,34492,2020-05-30,Channel Islands,United Kingdom,560.0,NaN,560.0,560.0
34497,34497,2020-05-30,Falkland Islands (Malvinas),United Kingdom,13.0,NaN,13.0,13.0
34502,34502,2020-05-30,Gibraltar,United Kingdom,169.0,29.575758,165.6,165.6
34555,34555,2020-05-30,Turks and Caicos Islands,United Kingdom,12.0,NaN,12.0,12.0
34666,34666,2020-05-31,no,United Kingdom,274762.0,154.201507,274625.4,274625.4
34716,34716,2020-05-31,Isle of Man,United Kingdom,336.0,NaN,336.0,336.0
34725,34725,2020-05-31,Montserrat,United Kingdom,11.0,NaN,11.0,11.0
34748,34748,2020-05-31,Anguilla,United Kingdom,3.0,NaN,3.0,3.0
34753,34753,2020-05-31,Bermuda,United Kingdom,140.0,NaN,140.4,140.4
34756,34756,2020-05-31,British Virgin Islands,United Kingdom,8.0,NaN,8.0,8.0
34757,34757,2020-05-31,Cayman Islands,United Kingdom,141.0,NaN,144.8,144.8
34758,34758,2020-05-31,Channel Islands,United Kingdom,560.0,NaN,560.0,560.0
34768,34768,2020-05-31,Gibraltar,United Kingdom,170.0,37.037037,168.4,168.4
34777,34777,2020-05-31,Falkland Islands (Malvinas),United Kingdom,13.0,NaN,13.0,13.0
34823,34823,2020-05-31,Turks and Caicos Islands,United Kingdom,12.0,NaN,12.0,12.0
34932,34932,2020-06-01,no,United Kingdom,276332.0,156.668568,276352.2,276352.2
34982,34982,2020-06-01,Isle of Man,United Kingdom,336.0,NaN,336.0,336.0
34991,34991,2020-06-01,Montserrat,United Kingdom,11.0,NaN,11.0,11.0
35014,35014,2020-06-01,Anguilla,United Kingdom,3.0,NaN,3.0,3.0
35019,35019,2020-06-01,Bermuda,United Kingdom,141.0,280.666667,140.6,140.6
35022,35022,2020-06-01,British Virgin Islands,United Kingdom,8.0,NaN,8.0,8.0
35023,35023,2020-06-01,Cayman Islands,United Kingdom,150.0,32.000000,147.8,147.8
35024,35024,2020-06-01,Channel Islands,United Kingdom,560.0,NaN,560.2,560.2
35034,35034,2020-06-01,Gibraltar,United Kingdom,170.0,339.333333,170.8,170.8
35043,35043,2020-06-01,Falkland Islands (Malvinas),United Kingdom,13.0,NaN,13.0,13.0
35088,35088,2020-06-01,Turks and Caicos Islands,United Kingdom,12.0,NaN,12.0,12.0
35199,35199,2020-06-02,no,United Kingdom,277985.0,171.492192,278119.2,278119.2
35249,35249,2020-06-02,Isle of Man,United Kingdom,336.0,NaN,336.0,336.0
35258,35258,2020-06-02,Montserrat,United Kingdom,11.0,NaN,11.0,11.0
35282,35282,2020-06-02,Anguilla,United Kingdom,3.0,NaN,3.0,3.0
35287,35287,2020-06-02,Bermuda,United Kingdom,141.0,281.333333,140.8,140.8
35290,35290,2020-06-02,British Virgin Islands,United Kingdom,8.0,NaN,8.0,8.0
35291,35291,2020-06-02,Cayman Islands,United Kingdom,151.0,29.466667,151.6,151.6
35292,35292,2020-06-02,Channel Islands,United Kingdom,560.0,NaN,560.4,560.4
35296,35296,2020-06-02,Falkland Islands (Malvinas),United Kingdom,13.0,NaN,13.0,13.0
35302,35302,2020-06-02,Gibraltar,United Kingdom,172.0,170.666667,171.6,171.6
35355,35355,2020-06-02,Turks and Caicos Islands,United Kingdom,12.0,NaN,12.0,12.0
35465,35465,2020-06-03,no,United Kingdom,279856.0,157.807983,279829.0,279829.0
35514,35514,2020-06-03,Isle of Man,United Kingdom,336.0,NaN,336.0,336.0
35523,35523,2020-06-03,Montserrat,United Kingdom,11.0,NaN,11.0,11.0
35547,35547,2020-06-03,Anguilla,United Kingdom,3.0,NaN,3.0,3.0
35552,35552,2020-06-03,Bermuda,United Kingdom,141.0,NaN,141.0,141.0
35555,35555,2020-06-03,British Virgin Islands,United Kingdom,8.0,NaN,8.0,8.0
35556,35556,2020-06-03,Cayman Islands,United Kingdom,156.0,50.777778,156.2,156.2
35557,35557,2020-06-03,Channel Islands,United Kingdom,561.0,1120.666667,560.6,560.6
35567,35567,2020-06-03,Gibraltar,United Kingdom,173.0,114.444444,172.4,172.4
35576,35576,2020-06-03,Falkland Islands (Malvinas),United Kingdom,13.0,NaN,13.0,13.0
35620,35620,2020-06-03,Turks and Caicos Islands,United Kingdom,12.0,NaN,12.0,12.0
35731,35731,2020-06-04,no,United Kingdom,281661.0,152.249184,281536.2,281536.2
35780,35780,2020-06-04,Isle of Man,United Kingdom,336.0,NaN,336.0,336.0
35789,35789,2020-06-04,Montserrat,United Kingdom,11.0,NaN,11.0,11.0
35812,35812,2020-06-04,Anguilla,United Kingdom,3.0,NaN,3.0,3.0
35817,35817,2020-06-04,Bermuda,United Kingdom,141.0,NaN,141.0,141.0
35820,35820,2020-06-04,British Virgin Islands,United Kingdom,8.0,NaN,8.0,8.0
35821,35821,2020-06-04,Cayman Islands,United Kingdom,160.0,34.592593,159.0,159.0
35822,35822,2020-06-04,Channel Islands,United Kingdom,561.0,1121.333333,561.2,561.2
35827,35827,2020-06-04,Falkland Islands (Malvinas),United Kingdom,13.0,NaN,13.0,13.0
35832,35832,2020-06-04,Gibraltar,United Kingdom,173.0,345.333333,173.4,173.4
35885,35885,2020-06-04,Turks and Caicos Islands,United Kingdom,12.0,NaN,12.0,12.0
35996,35996,2020-06-05,no,United Kingdom,283311.0,163.015533,283178.0,283178.0
36046,36046,2020-06-05,Isle of Man,United Kingdom,336.0,NaN,336.0,336.0
36055,36055,2020-06-05,Montserrat,United Kingdom,11.0,NaN,11.0,11.0
36079,36079,2020-06-05,Anguilla,United Kingdom,3.0,NaN,3.0,3.0
36084,36084,2020-06-05,Bermuda,United Kingdom,141.0,NaN,141.0,141.0
36087,36087,2020-06-05,British Virgin Islands,United Kingdom,8.0,NaN,8.0,8.0
36088,36088,2020-06-05,Cayman Islands,United Kingdom,164.0,40.000000,161.6,161.6
36089,36089,2020-06-05,Channel Islands,United Kingdom,561.0,NaN,561.8,561.8
36093,36093,2020-06-05,Falkland Islands (Malvinas),United Kingdom,13.0,NaN,13.0,13.0
36099,36099,2020-06-05,Gibraltar,United Kingdom,174.0,346.666667,174.2,174.2
36152,36152,2020-06-05,Turks and Caicos Islands,United Kingdom,12.0,NaN,12.0,12.0
36262,36262,2020-06-06,no,United Kingdom,284868.0,176.663548,284686.6,284686.6
36312,36312,2020-06-06,Isle of Man,United Kingdom,336.0,NaN,336.0,336.0
36321,36321,2020-06-06,Montserrat,United Kingdom,11.0,NaN,11.0,11.0
36345,36345,2020-06-06,Anguilla,United Kingdom,3.0,NaN,3.0,3.0
36350,36350,2020-06-06,Bermuda,United Kingdom,141.0,NaN,141.0,141.0
36353,36353,2020-06-06,British Virgin Islands,United Kingdom,8.0,NaN,8.0,8.0
36354,36354,2020-06-06,Cayman Islands,United Kingdom,164.0,81.333333,164.6,164.6
36355,36355,2020-06-06,Channel Islands,United Kingdom,563.0,561.666667,562.4,562.4
36359,36359,2020-06-06,Falkland Islands (Malvinas),United Kingdom,13.0,NaN,13.0,13.0
36365,36365,2020-06-06,Gibraltar,United Kingdom,175.0,174.000000,174.8,174.8
36418,36418,2020-06-06,Turks and Caicos Islands,United Kingdom,12.0,NaN,12.0,12.0
36529,36529,2020-06-07,no,United Kingdom,286194.0,197.565730,286182.4,286182.4
36579,36579,2020-06-07,Isle of Man,United Kingdom,336.0,NaN,336.0,336.0
36588,36588,2020-06-07,Montserrat,United Kingdom,11.0,NaN,11.0,11.0
36611,36611,2020-06-07,Anguilla,United Kingdom,3.0,NaN,3.0,3.0
36616,36616,2020-06-07,Bermuda,United Kingdom,141.0,NaN,141.0,141.0
36619,36619,2020-06-07,British Virgin Islands,United Kingdom,8.0,NaN,8.0,8.0
36620,36620,2020-06-07,Cayman Islands,United Kingdom,164.0,NaN,167.8,167.8
36621,36621,2020-06-07,Channel Islands,United Kingdom,563.0,562.333333,563.2,563.2
36631,36631,2020-06-07,Gibraltar,United Kingdom,176.0,175.000000,175.4,175.4
36640,36640,2020-06-07,Falkland Islands (Malvinas),United Kingdom,13.0,NaN,13.0,13.0
36684,36684,2020-06-07,Turks and Caicos Islands,United Kingdom,12.0,NaN,12.0,12.0
36796,36796,2020-06-08,no,United Kingdom,287399.0,226.119057,287548.8,287548.8
36845,36845,2020-06-08,Isle of Man,United Kingdom,336.0,NaN,336.0,336.0
36854,36854,2020-06-08,Montserrat,United Kingdom,11.0,NaN,11.0,11.0
36878,36878,2020-06-08,Anguilla,United Kingdom,3.0,NaN,3.0,3.0
36883,36883,2020-06-08,Bermuda,United Kingdom,141.0,NaN,141.0,141.0
36886,36886,2020-06-08,British Virgin Islands,United Kingdom,8.0,NaN,8.0,8.0
36887,36887,2020-06-08,Cayman Islands,United Kingdom,171.0,47.523810,171.0,171.0
36888,36888,2020-06-08,Channel Islands,United Kingdom,564.0,1126.666667,564.0,564.0
36892,36892,2020-06-08,Falkland Islands (Malvinas),United Kingdom,13.0,NaN,13.0,13.0
36898,36898,2020-06-08,Gibraltar,United Kingdom,176.0,351.333333,175.8,175.8
36950,36950,2020-06-08,Turks and Caicos Islands,United Kingdom,12.0,NaN,12.0,12.0
37061,37061,2020-06-09,no,United Kingdom,289140.0,195.232632,288857.0,288857.0
37110,37110,2020-06-09,Isle of Man,United Kingdom,336.0,NaN,336.0,336.0
37119,37119,2020-06-09,Montserrat,United Kingdom,11.0,NaN,11.0,11.0
37142,37142,2020-06-09,Anguilla,United Kingdom,3.0,NaN,3.0,3.0
37147,37147,2020-06-09,Bermuda,United Kingdom,141.0,NaN,141.0,141.0
37150,37150,2020-06-09,British Virgin Islands,United Kingdom,8.0,NaN,8.0,8.0
37151,37151,2020-06-09,Cayman Islands,United Kingdom,176.0,28.388889,175.4,175.4
37152,37152,2020-06-09,Channel Islands,United Kingdom,565.0,564.000000,564.4,564.4
37157,37157,2020-06-09,Falkland Islands (Malvinas),United Kingdom,13.0,NaN,13.0,13.0
37162,37162,2020-06-09,Gibraltar,United Kingdom,176.0,NaN,176.0,176.0
37215,37215,2020-06-09,Turks and Caicos Islands,United Kingdom,12.0,NaN,12.0,12.0
37326,37326,2020-06-10,no,United Kingdom,290143.0,210.564140,290208.2,290208.2
37376,37376,2020-06-10,Isle of Man,United Kingdom,336.0,NaN,336.0,336.0
37385,37385,2020-06-10,Montserrat,United Kingdom,11.0,NaN,11.0,11.0
37408,37408,2020-06-10,Anguilla,United Kingdom,3.0,NaN,3.0,3.0
37413,37413,2020-06-10,Bermuda,United Kingdom,141.0,NaN,141.0,141.0
37416,37416,2020-06-10,British Virgin Islands,United Kingdom,8.0,NaN,8.0,8.0
37417,37417,2020-06-10,Cayman Islands,United Kingdom,180.0,39.037037,180.0,180.0
37418,37418,2020-06-10,Channel Islands,United Kingdom,565.0,1129.333333,564.8,564.8
37428,37428,2020-06-10,Gibraltar,United Kingdom,176.0,NaN,176.0,176.0
37437,37437,2020-06-10,Falkland Islands (Malvinas),United Kingdom,13.0,NaN,13.0,13.0
37483,37483,2020-06-10,Turks and Caicos Islands,United Kingdom,12.0,NaN,12.0,12.0
37592,37592,2020-06-11,no,United Kingdom,291409.0,255.822536,291603.4,291603.4
37642,37642,2020-06-11,Isle of Man,United Kingdom,336.0,NaN,336.0,336.0
37651,37651,2020-06-11,Montserrat,United Kingdom,11.0,NaN,11.0,11.0
37674,37674,2020-06-11,Anguilla,United Kingdom,3.0,NaN,3.0,3.0
37679,37679,2020-06-11,Bermuda,United Kingdom,141.0,NaN,141.2,141.2
37682,37682,2020-06-11,British Virgin Islands,United Kingdom,8.0,NaN,8.0,8.0
37683,37683,2020-06-11,Cayman Islands,United Kingdom,186.0,36.133333,183.2,183.2
37684,37684,2020-06-11,Channel Islands,United Kingdom,565.0,NaN,565.0,565.0
37694,37694,2020-06-11,Gibraltar,United Kingdom,176.0,NaN,176.0,176.0
37703,37703,2020-06-11,Falkland Islands (Malvinas),United Kingdom,13.0,NaN,13.0,13.0
37748,37748,2020-06-11,Turks and Caicos Islands,United Kingdom,12.0,NaN,12.0,12.0
37859,37859,2020-06-12,no,United Kingdom,292950.0,207.695523,292953.2,292953.2
37909,37909,2020-06-12,Isle of Man,United Kingdom,336.0,NaN,336.0,336.0
37918,37918,2020-06-12,Montserrat,United Kingdom,11.0,NaN,11.0,11.0
37942,37942,2020-06-12,Anguilla,United Kingdom,3.0,NaN,3.0,3.0
37947,37947,2020-06-12,Bermuda,United Kingdom,141.0,NaN,141.4,141.4
37950,37950,2020-06-12,British Virgin Islands,United Kingdom,8.0,NaN,8.0,8.0
37951,37951,2020-06-12,Cayman Islands,United Kingdom,187.0,52.666667,185.4,185.4
37952,37952,2020-06-12,Channel Islands,United Kingdom,565.0,NaN,565.0,565.0
37956,37956,2020-06-12,Falkland Islands (Malvinas),United Kingdom,13.0,NaN,13.0,13.0
37962,37962,2020-06-12,Gibraltar,United Kingdom,176.0,NaN,176.0,176.0
38015,38015,2020-06-12,Turks and Caicos Islands,United Kingdom,12.0,NaN,12.0,12.0
38124,38124,2020-06-13,no,United Kingdom,294375.0,197.512699,294296.0,294296.0
38173,38173,2020-06-13,Isle of Man,United Kingdom,336.0,NaN,336.0,336.0
38182,38182,2020-06-13,Montserrat,United Kingdom,11.0,NaN,11.0,11.0
38206,38206,2020-06-13,Anguilla,United Kingdom,3.0,NaN,3.0,3.0
38211,38211,2020-06-13,Bermuda,United Kingdom,142.0,282.666667,142.0,142.0
38214,38214,2020-06-13,British Virgin Islands,United Kingdom,8.0,NaN,8.0,8.0
38215,38215,2020-06-13,Cayman Islands,United Kingdom,187.0,373.333333,186.8,186.8
38216,38216,2020-06-13,Channel Islands,United Kingdom,565.0,NaN,565.6,565.6
38226,38226,2020-06-13,Gibraltar,United Kingdom,176.0,NaN,176.0,176.0
38235,38235,2020-06-13,Falkland Islands (Malvinas),United Kingdom,13.0,NaN,13.0,13.0
38287,38287,2020-06-13,Turks and Caicos Islands,United Kingdom,12.0,NaN,12.0,12.0
38390,38390,2020-06-14,no,United Kingdom,295889.0,200.343427,295641.4,295641.4
38441,38441,2020-06-14,Isle of Man,United Kingdom,336.0,NaN,336.0,336.0
38450,38450,2020-06-14,Montserrat,United Kingdom,11.0,NaN,11.0,11.0
38473,38473,2020-06-14,Anguilla,United Kingdom,3.0,NaN,3.0,3.0
38478,38478,2020-06-14,Bermuda,United Kingdom,142.0,283.333333,142.6,142.6
38481,38481,2020-06-14,British Virgin Islands,United Kingdom,8.0,NaN,8.0,8.0
38482,38482,2020-06-14,Cayman Islands,United Kingdom,187.0,NaN,188.2,188.2
38483,38483,2020-06-14,Channel Islands,United Kingdom,565.0,NaN,566.2,566.2
38493,38493,2020-06-14,Gibraltar,United Kingdom,176.0,NaN,176.0,176.0
38502,38502,2020-06-14,Falkland Islands (Malvinas),United Kingdom,13.0,NaN,13.0,13.0
38546,38546,2020-06-14,Turks and Caicos Islands,United Kingdom,12.0,NaN,12.0,12.0
38656,38656,2020-06-15,no,United Kingdom,296857.0,238.281225,296901.6,296901.6
38706,38706,2020-06-15,Isle of Man,United Kingdom,336.0,NaN,336.0,336.0
38715,38715,2020-06-15,Montserrat,United Kingdom,11.0,NaN,11.0,11.0
38738,38738,2020-06-15,Anguilla,United Kingdom,3.0,NaN,3.0,3.0
38743,38743,2020-06-15,Bermuda,United Kingdom,144.0,142.666667,143.2,143.2
38746,38746,2020-06-15,British Virgin Islands,United Kingdom,8.0,NaN,8.0,8.0

In [26]:
pd_result_larg.to_csv('../data/processed/COVID_final_set_trial.csv',sep=',',index=False)