In [1]:
%matplotlib inline

import pandas as pd
import numpy as np
from datetime import datetime

import matplotlib as mpl
import matplotlib.pyplot as plt

import seaborn as sns

import plotly.graph_objects as go
import plotly
plotly.__version__

#import webbrowser  
#print(webbrowser._browsers)

import dash
import dash_core_components as dcc
import dash_html_components as html
from dash.dependencies import Input, Output

In [2]:
dataPath_Raw = ("../data/raw/COVID-19/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv")
dataPath_Processed = ("../data/processed/COVID_Flat_Table_Complete.csv")

pd.set_option("display.max_rows", 500)

In [3]:
pd_proc = pd.read_csv(dataPath_Processed)
pd_proc.head()

,date,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,...,Burundi,Sierra Leone,Malawi,South Sudan,Western Sahara,Sao Tome and Principe,Yemen,Comoros,Tajikistan,Lesotho
0,2020-01-22,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2020-01-23,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2020-01-24,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2020-01-25,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2020-01-26,0,0,0,0,0,0,0,0,4,...,0,0,0,0,0,0,0,0,0,0

In [4]:
pd_raw = pd.read_csv(dataPath_Raw)
country_list = pd_raw['Country/Region'].unique()
country_list;

In [5]:
d = dict(enumerate(country_list.flatten(), 1))

In [6]:
label = 'label'
value = 'value'

country = list(country_list)

dlist = [{label: c, value: c} for c in country]

In [7]:
df_plot = pd.read_csv(dataPath_Processed, sep=",")

df_plot.head()

,date,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,...,Burundi,Sierra Leone,Malawi,South Sudan,Western Sahara,Sao Tome and Principe,Yemen,Comoros,Tajikistan,Lesotho
0,2020-01-22,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2020-01-23,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2020-01-24,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2020-01-25,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2020-01-26,0,0,0,0,0,0,0,0,4,...,0,0,0,0,0,0,0,0,0,0

In [8]:
fig = go.Figure()

In [9]:
app = dash.Dash()
app.layout = html.Div([
    
    html.Label('Multi-Select Country'),
    dcc.Dropdown(
        id = "country_drop_down",
        options = dlist,
        value=['US', 'Germany'],
        multi=True
    ),
    dcc.Graph(figure=fig, id="main_window_slope")
])

In [10]:
@app.callback(

    Output('main_window_slope', 'figure'),
    [Input('country_drop_down', 'value')]
)

def update_figure(country_list):
    
    traces = []
    
    for i in country_list:
        traces.append(dict(x=df_plot.date,
                     y = df_plot[i],
                     mode = 'markers+lines',
                     opacity = 0.9,
                     line_width = 0.4, marker_size = 3,
                     name = i
                          )
                     )
    
    return {
        
        'data': traces,
        'layout': dict (
            width = 1280,
            height = 720,
            xaxis_title = "Time",
            yaxis_title = "Confirmed infected people [source: John Hopkins csse, log-scale]",
            
            xaxis = {
                'tickangle' : -45,
                'nticks': 20,
                'tickfont': dict(size= 14, color = '#7f7f7f')
                
            },
            
            yaxis = {
                'type':'log',
                'range':[1.5, 5.5]
        }
        )
    }

In [ ]:
app.run_server(debug=True, use_reloader=False)

Running on http://127.0.0.1:8050/
Debugger PIN: 320-868-096
 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: on