## Relational Data Model

### Defining a primary Key

In [1]:
%matplotlib inline

import pandas as pd
import numpy as np
from datetime import datetime

In [2]:
dataPath_Raw = ("../data/raw/COVID-19/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv")
dataPath_Processed = ("../data/processed/")

pd.set_option("display.max_rows", 500)

In [3]:
pd_raw = pd.read_csv(dataPath_Raw)
pd_raw.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,6/1/20,6/2/20,6/3/20,6/4/20,6/5/20,6/6/20,6/7/20,6/8/20,6/9/20,6/10/20
0,NaN,Afghanistan,33.0000,65.0000,0,0,0,0,0,0,...,15750,16509,17267,18054,18969,19551,20342,20917,21459,22142
1,NaN,Albania,41.1533,20.1683,0,0,0,0,0,0,...,1143,1164,1184,1197,1212,1232,1246,1263,1299,1341
2,NaN,Algeria,28.0339,1.6596,0,0,0,0,0,0,...,9513,9626,9733,9831,9935,10050,10154,10265,10382,10484
3,NaN,Andorra,42.5063,1.5218,0,0,0,0,0,0,...,765,844,851,852,852,852,852,852,852,852
4,NaN,Angola,-11.2027,17.8739,0,0,0,0,0,0,...,86,86,86,86,86,88,91,92,96,113

In [4]:
pd_dataBase = pd_raw.rename(columns={'Country/Region':'country', 
                                     'Province/State':'state'})

In [5]:
pd_dataBase = pd_dataBase.drop(['Lat', 'Long'], axis=1)

In [6]:
pd_dataBase.head()

,state,country,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,...,6/1/20,6/2/20,6/3/20,6/4/20,6/5/20,6/6/20,6/7/20,6/8/20,6/9/20,6/10/20
0,NaN,Afghanistan,0,0,0,0,0,0,0,0,...,15750,16509,17267,18054,18969,19551,20342,20917,21459,22142
1,NaN,Albania,0,0,0,0,0,0,0,0,...,1143,1164,1184,1197,1212,1232,1246,1263,1299,1341
2,NaN,Algeria,0,0,0,0,0,0,0,0,...,9513,9626,9733,9831,9935,10050,10154,10265,10382,10484
3,NaN,Andorra,0,0,0,0,0,0,0,0,...,765,844,851,852,852,852,852,852,852,852
4,NaN,Angola,0,0,0,0,0,0,0,0,...,86,86,86,86,86,88,91,92,96,113

In [7]:
pd_dataBase.set_index(['state', 'country']);

In [8]:
test_pd = pd_dataBase.set_index(['state', 'country']).T

In [9]:
test_pd.columns;

In [10]:
test_pd.stack(level=[0,1]).reset_index();

In [11]:
# As a sequence

pd_relational_model = pd_dataBase.set_index(['state', 'country']) \
                        .T \
                        .stack(level=[0,1]) \
                        .reset_index() \
                        .rename(columns={'level_0' : 'date',
                                        0 : 'confirmed'})

pd_relational_model.head()

      date state      country  confirmed
0  1/22/20   NaN  Afghanistan        0.0
1  1/22/20   NaN      Albania        0.0
2  1/22/20   NaN      Algeria        0.0
3  1/22/20   NaN      Andorra        0.0
4  1/22/20   NaN       Angola        0.0

In [12]:
pd_relational_model.dtypes

date          object
state         object
country       object
confirmed    float64
dtype: object

In [13]:
pd_relational_model.to_csv(dataPath_Processed + 'COVID_relational_Confirmed.csv', sep=',', index=False)

### Group-by apply

In [ ]:
pd_JH_data=pd.read_csv('../data/processed/COVID_relational_confirmed.csv',sep=';',parse_dates=[0])
pd_JH_data=pd_JH_data.sort_values('date',ascending=True).reset_index(drop=True).copy()
pd_JH_data.head()