### Group-by apply

In [16]:
pd_JH_data=pd.read_csv('../data/processed/COVID_relational_confirmed.csv',sep=',',parse_dates=[0])
pd_JH_data=pd_JH_data.sort_values('date',ascending=True).reset_index(drop=True).copy()
pd_JH_data.head()

        date    state       country  confirmed
0 2020-01-22  Alberta        Canada        0.0
1 2020-01-22       no  Korea, South        1.0
2 2020-01-22       no        Kosovo        0.0
3 2020-01-22       no        Kuwait        0.0
4 2020-01-22       no    Kyrgyzstan        0.0

### Test Data

In [17]:
test_data=pd_JH_data[((pd_JH_data['country']=='US')|
                      (pd_JH_data['country']=='Germany'))&
                     (pd_JH_data['date']>'2020-03-20')]

In [19]:
test_data.head()

            date state  country  confirmed
15736 2020-03-21    no  Germany    22213.0
15776 2020-03-21    no       US    25733.0
16002 2020-03-22    no  Germany    24873.0
16042 2020-03-22    no       US    33660.0
16269 2020-03-23    no  Germany    29056.0

In [20]:
test_data.groupby(['country']).agg(np.max)

              date state  confirmed
country
Germany 2020-06-12    no   187226.0
US      2020-06-12    no  2048986.0

In [26]:
# %load ../src/features/build_features.py

import numpy as np
from sklearn import linear_model
reg = linear_model.LinearRegression(fit_intercept=True)
import pandas as pd

from scipy import signal


def get_doubling_time_via_regression(in_array):
    ''' Use a linear regression to approximate the doubling rate

        Parameters:
        ----------
        in_array : pandas.series

        Returns:
        ----------
        Doubling rate: double
    '''

    y = np.array(in_array)
    X = np.arange(-1,2).reshape(-1, 1)

    assert len(in_array)==3
    reg.fit(X,y)
    intercept=reg.intercept_
    slope=reg.coef_

    return intercept/slope



if __name__ == '__main__':
    test_data_reg=np.array([2,4,6])
    result=get_doubling_time_via_regression(test_data_reg)
    print('the test slope is: '+str(result))

the test slope is: [2.]

In [27]:
test_data.groupby(['state','country']).agg(np.max)

                    date  confirmed
state country
no    Germany 2020-06-12   187226.0
      US      2020-06-12  2048986.0

In [28]:
def rolling_reg(df_input,col='confirmed'):
    ''' input has to be a data frame'''
    ''' return is single series (mandatory for group by apply)'''
    days_back=3
    result=df_input[col].rolling(
                window=days_back,
                min_periods=days_back).apply(get_doubling_time_via_regression,raw=False)
    return result

In [29]:
test_data[['state','country','confirmed']].groupby(['state','country']).apply(rolling_reg,'confirmed')

state  country
no     Germany  15736            NaN
                16002            NaN
                16269       7.417994
                16534       7.142035
                16800       8.012983
                17067       6.954407
                17333       6.501919
                17598       7.390371
                17864      10.136671
                18130      13.541893
                18396      13.781393
                18663      13.140681
                18928      12.037271
                19193      12.735506
                19461      16.052694
                19726      21.372453
                19992      27.427355
                20259      27.511936
                20524      21.792179
                20790      21.495848
                21057      26.565108
                21322      36.198404
                21587      43.982990
                21855      49.423444
                22121      74.043747
                22386      56.424411
                22652      42.468318
                22918      41.525988
                23184      49.898063
                23451      75.684007
                23716      78.000000
                23982      94.526338
                24249      82.985208
                24515      62.294061
                24780      70.294338
                25046      91.536840
                25312     112.903164
                25578     140.472457
                25845     148.285092
                26110     115.116625
                26375     104.285868
                26643     128.349094
                26909     167.535921
                27174     207.816845
                27440     279.484107
                27706     247.616282
                27972     166.275622
                28238     138.835878
                28504     139.648255
                28769     179.986624
                29037     265.319391
                29303     274.642705
                29568     267.092879
                29834     227.702584
                30100     266.129559
                30366     307.670485
                30633     274.967556
                30898     309.480047
                31163     441.111389
                31429     251.099125
                31696     184.808186
                31962     287.086082
                32228     289.519806
                32494     372.170639
                32760     582.550162
                33026     587.311618
                33292     414.470948
                33557     392.008658
                33825     364.738956
                34090     260.678112
                34356     368.114804
                34623     750.711749
                34888     905.667490
                35154     783.060412
                35421     697.778621
                35686     621.103991
                35951     459.540888
                36219     378.218132
                36485     448.849072
                36750     563.792615
                37016     492.385362
                37282     902.561743
                37548    2017.005405
                37815     530.718750
       US       15776            NaN
                16042            NaN
                16308       3.821760
                16574       4.313480
                16855       4.922084
                17107       4.537182
                17373       4.641396
                17638       5.410318
                17919       6.253405
                18170       6.985745
                18436       6.910068
                18703       7.321208
                18969       7.723279
                19233       7.858799
                19501       8.502099
                19767      10.085240
                20032      11.758826
                20299      12.172950
                20564      12.755741
                20830      12.964506
                21097      13.596147
                21363      15.641236
                21627      18.008881
                21895      20.628274
                22161      22.264836
                22426      21.706750
                22707      21.143827
                22958      20.924789
                23224      22.943101
                23491      26.817657
                23756      28.341993
                24037      29.657189
                24289      30.185628
                24555      26.928423
                24820      24.784046
                25101      26.218521
                25352      30.981838
                25618      38.558093
                25885      42.247850
                26151      39.190232
                26415      36.580726
                26683      33.651678
                26949      34.883917
                27214      41.408709
                27495      48.342063
                27746      50.914038
                28012      48.991389
                28279      46.542462
                28545      45.918829
                28809      48.776085
                29077      57.688400
                29343      69.245850
                29608      66.724867
                29889      64.087668
                30140      57.555606
                30406      53.954169
                30673      57.569838
                30938      66.718997
                31219      73.500522
                31485      72.078498
                31737      70.066641
                32002      63.759630
                32283      64.004930
                32534      70.070875
                32800      76.436790
                33067      82.917901
                33334      88.434208
                33597      91.102606
                33865      83.179286
                34131      73.284794
                34396      72.024551
                34663      80.065051
                34928      96.022012
                35194      95.256172
                35461      90.342886
                35728      90.463103
                35991      73.294272
                36259      71.651687
                36525      93.458497
                36790     108.690487
                37071     109.869191
                37322     101.362504
                37588      91.195477
                37856      83.854942
Name: confirmed, dtype: float64

In [30]:
pd_DR_result=pd_JH_data[['state','country','confirmed']].groupby(['state','country']).apply(rolling_reg,'confirmed').reset_index()

In [42]:
pd_DR_result=pd_DR_result.rename(columns={'confirmed':'confirmed_DR',
                             'level_2':'index'})
pd_DR_result.head()

     state country  index  confirmed_DR
0  Alberta  Canada      0           NaN
1  Alberta  Canada    435           NaN
2  Alberta  Canada    732           NaN
3  Alberta  Canada    966           NaN
4  Alberta  Canada   1232           NaN

In [32]:
pd_JH_data=pd_JH_data.reset_index()
pd_JH_data.head()

   index       date    state       country  confirmed
0      0 2020-01-22  Alberta        Canada        0.0
1      1 2020-01-22       no  Korea, South        1.0
2      2 2020-01-22       no        Kosovo        0.0
3      3 2020-01-22       no        Kuwait        0.0
4      4 2020-01-22       no    Kyrgyzstan        0.0

In [33]:
pd_result_larg=pd.merge(pd_JH_data,pd_DR_result[['index','confirmed_DR']],on=['index'],how='left')
pd_result_larg.head()

   index       date    state       country  confirmed  confirmed_DR
0      0 2020-01-22  Alberta        Canada        0.0           NaN
1      1 2020-01-22       no  Korea, South        1.0           NaN
2      2 2020-01-22       no        Kosovo        0.0           NaN
3      3 2020-01-22       no        Kuwait        0.0           NaN
4      4 2020-01-22       no    Kyrgyzstan        0.0           NaN

## Filtering the data with groupby apply

In [34]:
from scipy import signal

def savgol_filter(df_input,column='confirmed',window=5):
    ''' Savgol Filter which can be used in groupby apply function 
        it ensures that the data structure is kept'''
    window=5, 
    degree=1
    df_result=df_input
    
    filter_in=df_input[column].fillna(0) # attention with the neutral element here
    
    result=signal.savgol_filter(np.array(filter_in),
                           5, # window size used for filtering
                           1)
    df_result[column+'_filtered']=result
    return df_result

In [35]:
pd_filtered_result=pd_JH_data[['state','country','confirmed']].groupby(['state','country']).apply(savgol_filter).reset_index()

In [36]:
pd_result_larg=pd.merge(pd_result_larg,pd_filtered_result[['index','confirmed_filtered']],on=['index'],how='left')
pd_result_larg.head()

,index,date,state,country,confirmed,confirmed_DR,confirmed_filtered
0,0,2020-01-22,Alberta,Canada,0.0,NaN,0.0
1,1,2020-01-22,no,"Korea, South",1.0,NaN,0.8
2,2,2020-01-22,no,Kosovo,0.0,NaN,0.0
3,3,2020-01-22,no,Kuwait,0.0,NaN,0.0
4,4,2020-01-22,no,Kyrgyzstan,0.0,NaN,0.0

## Filtered doubling rate

In [37]:

pd_filtered_doubling=pd_result_larg[['state','country','confirmed_filtered']].groupby(['state','country']).apply(rolling_reg,'confirmed_filtered').reset_index()

pd_filtered_doubling=pd_filtered_doubling.rename(columns={'confirmed_filtered':'confirmed_filtered_DR',
                             'level_2':'index'})

pd_filtered_doubling.tail()

      state   country  index  confirmed_filtered_DR
38033    no  Zimbabwe  36772              21.510101
38034    no  Zimbabwe  37069              27.432099
38035    no  Zimbabwe  37304              26.976608
38036    no  Zimbabwe  37570              25.354497
38037    no  Zimbabwe  38037              25.553846

In [38]:
pd_result_larg=pd.merge(pd_result_larg,pd_filtered_doubling[['index','confirmed_filtered_DR']],on=['index'],how='left')
pd_result_larg.tail()

,index,date,state,country,confirmed,confirmed_DR,confirmed_filtered,confirmed_filtered_DR
38033,38033,2020-06-12,no,Barbados,96.0,inf,96.8,79.666667
38034,38034,2020-06-12,no,Belarus,52520.0,71.252636,52561.0,67.394275
38035,38035,2020-06-12,no,Belgium,59819.0,477.597333,59820.0,490.940789
38036,38036,2020-06-12,no,Albania,1416.0,36.817778,1419.2,35.204082
38037,38037,2020-06-12,no,Zimbabwe,343.0,28.840580,345.2,25.553846

In [39]:
mask=pd_result_larg['confirmed']>100
pd_result_larg['confirmed_filtered_DR']=pd_result_larg['confirmed_filtered_DR'].where(mask, other=np.NaN)

In [40]:
pd_result_larg[pd_result_larg['country']=='Germany'].tail()

,index,date,state,country,confirmed,confirmed_DR,confirmed_filtered,confirmed_filtered_DR
36750,36750,2020-06-08,no,Germany,186109.0,563.792615,186067.4,511.340125
37016,37016,2020-06-09,no,Germany,186506.0,492.385362,186315.6,655.313843
37282,37282,2020-06-10,no,Germany,186522.0,902.561743,186610.8,685.797816
37548,37548,2020-06-11,no,Germany,186691.0,2017.005405,186852.7,694.816732
37815,37815,2020-06-12,no,Germany,187226.0,530.718750,187094.6,772.437784

In [41]:
pd_result_larg.to_csv('../data/processed/COVID_final_set.csv',sep=',',index=False)